.venv/
__pycache__/
*.pyc
instance/*.db
*.sqlite3
.env
.pytest_cache/
.github/
.agents
.vscode
.vscode/*
.vscode/PythonImportHelper-v2-Completion.json
instance\logs\app.log
.vscode/PythonImportHelper-v2-Completion.json
